.footer {
  background-color: var(--negro);
  padding: 5rem 0;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .content {
    display: flex;
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
    gap: 2rem;
  }
}

.navigation a {
  font-size: 2.8rem;
  color: var(--blanco);
  text-decoration: none;
  font-weight: 700;
}

.navigation a:hover {
  color: var(--primary);
}

.copyright {
  font-size: 2.8rem;
  color: var(--blanco);
  text-align: center;
  font-weight: 700;
}
